# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant
name: 'Java CI with Ant / Publish sumojedit'

on: [push, pull_request]

env:
  DEFAULT_DOCKER_ACCOUNT: apease

jobs:
  build-test-upload:
    name: Build & Test
    runs-on: ubuntu-latest
    container:
        image: apease/sigma-ci:latest
    env:
      SIGMA_HOME: ${{ github.workspace }}/sigmakee-runtime
      SIGMA_SRC: ${{ github.workspace }}/sigmakee
      ONTOLOGYPORTAL_GIT: ${{ github.workspace }}
      JEDIT_HOME: ${{ github.workspace }}/.jedit

    steps:
      - name: checkout SUMOjEdit
        uses: actions/checkout@v4
        with:
          path: SUMOjEdit

      - name: checkout sigmaAntlr
        uses: actions/checkout@v4
        with:
          repository: 'ontologyportal/sigmaAntlr'
          path: sigmaAntlr

      - name: checkout sigmakee
        uses: actions/checkout@v4
        with:
          repository: 'ontologyportal/sigmakee'
          path: sigmakee

      - name: checkout TPTP-ANTLR
        uses: actions/checkout@v4
        with:
          repository: 'ontologyportal/TPTP-ANTLR'
          path: TPTP-ANTLR

      - name: checkout SigmaUtils
        uses: actions/checkout@v4
        with:
          repository: 'ontologyportal/SigmaUtils'
          path: SigmaUtils

      - name: checkout sumo
        uses: actions/checkout@v4
        with:
          repository: 'ontologyportal/sumo'
          path: sumo

      - name: Set up JDK 21 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Ant
        working-directory: ./SUMOjEdit
        run: ant

      - name: Upload sumojedit-base
        uses: actions/upload-artifact@v4
        with:
          name: sumojedit-base
          include-hidden-files: true
          path: |
            ./SUMOjEdit/SUMOjEdit.jar
            ./SUMOjEdit/lib/*.jar
            !./SUMOjEdit/lib/hamcrest-core*.jar
            !./SUMOjEdit/lib/junit*.jar
            !./SUMOjEdit/lib/jedit.jar
            ./.jedit

      - name: Setup SIGMA_HOME
        working-directory: ${{ github.workspace }}
        run: |
          echo "SIGMA_HOME: $SIGMA_HOME"
          echo "SIGMA_SRC: $SIGMA_SRC"
          echo "ONTOLOGYPORTAL_GIT: $ONTOLOGYPORTAL_GIT"
          mkdir -p $SIGMA_HOME/KBs/WordNetMappings
          cp -R $ONTOLOGYPORTAL_GIT/sumo/* $SIGMA_HOME/KBs
          cp /opt/WordNet-3.0/dict/* $SIGMA_HOME/KBs/WordNetMappings/
          cp $SIGMA_SRC/config.xml $SIGMA_HOME/KBs
          sed -i "s|/home/theuser/workspace/sumo|$SIGMA_HOME/KBs|g" $SIGMA_HOME/KBs/config.xml
          sed -i "s|/home/theuser/.sigmakee|$SIGMA_HOME|g" $SIGMA_HOME/KBs/config.xml
          sed -i "s|/home/theuser/E/bin/e_ltb_runner|/usr/local/bin/e_ltb_runner|g" $SIGMA_HOME/KBs/config.xml
          sed -i "s|/home/theuser/Programs/vampire/build/vampire|/usr/local/bin/vampire|g" $SIGMA_HOME/KBs/config.xml
          sed -i "s|/home/theuser|/root|g" $SIGMA_HOME/KBs/config.xml
          sed -i '/<kb name/,/<\/kb>/d' $SIGMA_HOME/KBs/config.xml

      - name: Setup KB config for tests
        working-directory: ${{ github.workspace }}
        run: >
          sed -i '/<\/configuration>/i\
          <kb name="SUMO">\n
          <constituent filename="Merge.kif"\/>\n
          <constituent filename="Mid-level-ontology.kif"\/>\n
          <constituent filename="english_format.kif"\/>\n
          <constituent filename="domainEnglishFormat.kif"\/>\n
          <\/kb>' $SIGMA_HOME/KBs/config.xml

      - name: Install GUI dependencies (Xvfb + libXtst + libXi)
        run: |
          apt-get update
          apt-get install -y xvfb libxtst6 libxi6

      - name: Run SUMOjEdit Unit Tests (with virtual display to accommodate for GUI Tests)
        working-directory: ./SUMOjEdit
        run: xvfb-run -a ant test.unit

#      - name: Run integration tests
#        env:
#        working-directory: ./SUMOjEdit
#        run: ant test.integration

  publish-sumojedit:
    runs-on: ubuntu-latest
    needs: build-test-upload
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download artifact
        uses: actions/download-artifact@v4.1.7
        with:
          name: sumojedit-base

      - name: Set image account name
        env:
          DOCKER_ACCOUNT: ${{ secrets.DOCKER_USERNAME }}
        run: |
          echo "IMAGE_ACCOUNT=${DOCKER_ACCOUNT:-$DEFAULT_DOCKER_ACCOUNT}" >> $GITHUB_ENV

      - name: Build and push sumojedit
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/sumojedit/Dockerfile
          push: ${{ github.event_name == 'push' }}
          tags: ${{ env.IMAGE_ACCOUNT }}/sumojedit:latest
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Docker Hub Description
        if: github.event_name == 'push'
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ env.IMAGE_ACCOUNT }}/sumojedit
